@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet z-index fixes for Tailwind */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-map-pane canvas,
.leaflet-map-pane svg {
  z-index: auto;
}

.leaflet-control {
  z-index: 800;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 800;
}
